.btn-primary {
  background-color: map-get($colors, 'color-white');
  border-color: map-get($colors, 'primary');
  color: map-get($colors, 'primary');
  border-radius: 18px;
  border: 1.5px solid;
  min-width: 130px;

  &:hover {
    background-color: map-get($colors, 'primary');
    border-color: map-get($colors, 'primary');
    color: map-get($colors, 'color-white');
  }

  &:active, &:focus {
    background-color: darken(map-get($colors, 'primary'), 10%)!important;
    border-color: darken(map-get($colors, 'primary'), 10%)!important;
    color: map-get($colors, 'color-white');
  }
}

.btn-secondary {
  background-color: map-get($colors, 'primary');
  border-color: map-get($colors, 'primary');
  color: map-get($colors, 'color-white');
  border-radius: 18px;
  border: 1.5px solid;
  min-width: 130px;

  &:hover {
    background-color: darken(map-get($colors, 'primary'), 10%)!important;
    border-color: darken(map-get($colors, 'primary'), 10%)!important;
    color: map-get($colors, 'color-white');
  }

  &:active, &:focus {
    background-color: darken(map-get($colors, 'primary'), 15%)!important;
    border-color: darken(map-get($colors, 'primary'), 15%)!important;
    color: map-get($colors, 'color-white');
  }
}

.btn-tertiary {
  background-color: map-get($colors, 'primary');
  border-color: map-get($colors, 'white');
  color: map-get($colors, 'color-white');
  border-radius: 18px;
  border: 1.5px solid;
  min-width: 130px;

  &:hover {
    background-color: map-get($colors, 'color-white');
    border-color: map-get($colors, 'color-white');
    color: map-get($colors, 'primary');
  }

  &:active, &:focus {
    background-color: map-get($colors, 'color-white');
    border-color: map-get($colors, 'color-white');
    color: map-get($colors, 'primary');
  }
}
