<div class="container-fluid">
  <!-- @TODO: botão voltar -->
  <img class="avatar" [src]="group.person?.avatar">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="title center">{{ group.person?.name }}</p>
      <p class="description center">Publicitária | Membro desde {{ group.person?.created_at | date: 'd MMM' }}</p>
      <hr>
      <p class="subtitle">{{ group.ad?.title }}</p>
      <p class="description">{{ group.ad?.full_address }}</p>
      <hr>
      <p class="bold">Requisitos levantados por {{ group.person?.name }}</p>
      <div class="list">
        <ul>
          <li *ngFor="let preference of group.preferences">
            {{ preference.title }}
          </li>
        </ul>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <p>Proposta de {{ group.person?.name }}</p>
          <p class="title">{{ group.amount | currency: 'BRL' }}</p>
        </div>
        <div class="col-md-4">
          <p>Sobra para você</p>
          <p class="title">{{ (group.ad?.amount - group.amount) | currency: 'BRL' }}</p>
        </div>
        <div class="col-md-4">
          <button routerLink="/group/{{group.id}}/chat" class="btn btn-secondary">Apresente-se</button>
        </div>
      </div>
    </div>
  </div>
</div>
