<app-search></app-search>
<div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="https://s3-sa-east-1.amazonaws.com/images-morablah/892852756-814.jpg">
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <img src="https://s3-sa-east-1.amazonaws.com/images-morablah/892852756-814.jpg">
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <img src="https://s3-sa-east-1.amazonaws.com/images-morablah/892852756-814.jpg">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beautiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <img src="https://s3-sa-east-1.amazonaws.com/images-morablah/892852756-814.jpg">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beautiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container" style="min-height: 800px;">
  <div class="col-md-12">
    <div class="breadcrumb">
      Sao paulo > Abc > 123 > 123
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Apartamento com 2 dorm 64m²</h2>
      <small>Rua bueno brandão</small>

      <div class="list">
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ul>
      </div>
      <hr>
      <article>
        <h3 class="article-title">Descrição</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
          with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </article>
      <hr>
      <article>
        <h3 class="article-title">Disponível</h3>
        <p>Box blindex, Armários embutidos no quarto, Armários nos banheiros, Armários na cozinha, Ar condicionado, Quarto de serviço,
        Banheiro de serviço, Fogão incluso, Geladeira inclusa</p>
      </article>
      <hr>
      <article>
        <h3 class="article-title">O que você precisa para alugar este apê</h3>
        <ul class="list circle-list">
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ul>
      </article>
      <hr>
      <article>
        <h3 class="article-title">Descrição</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
          with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </article>


    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div> 
  </div>
</div>
<div class="group-list">
  <div class="container">
    <h2 class="white-title">Pessoas interessadas neste apê</h2>  
    <div class="col-md-4" *ngFor="let group of property.groups">
      <a routerLink="/group/{{group.id}}">
        <div class="group">
          <img [src]="group.person.avatar" class="avatar pull-left" alt="">
          <div class="group-description">
            <p>{{ group.person.name }}</p>
            <p>32 anos</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
   <h2>Apartamento semelhantes para alugar</h2>
   <br>
   <br>
   <br>
   <br>
</div>