<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <!-- <input type="text" class="form-control" placeholder="Pesquisar"> -->
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Pesquisar">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fas fa-search"></i>
            </button>
          </span>
        </div>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-tertiary">Filtros adicionais <i class="fas fa-search"></i> </button>
      <button class="btn btn-tertiary">Criar alerta</button>
    </div>
  </div>
</div>
